{% extends "base.html" %} {% block content %}
<form action="/addAdmin" method="post">
	<div class="field">
		<label class="label">Email</label>
		<div class="control">
			<input class="input" type="email" name="email" placeholder="Email" />
		</div>
	</div>
	<div class="field">
		<label class="label">Username</label>
		<div class="control">
			<input class="input" type="text" name="username" placeholder="Username" />
		</div>
	</div>
	<div class="field">
		<label class="label">Discord ID</label>
		<div class="control">
			<input class="input" type="text" name="discordID" placeholder="Discord ID" />
		</div>
	</div>
	<div class="field is-grouped">
		<div class="control">
			<button class="button is-danger" type="submit">Add Administrator</button>
		</div>
	</div>
</form>
{% endblock %}