{% extends "base.html" %}

{% block content %}
<h1 class="title">
	{% if role == "Administrator" %}
	<h1>Administrator</h1>
	{% else %}
	<h1>Member</h1>
	{% endif %}
</h1>
<h1>
	{% if error %}
		<p>{{ error }}</p>
	{% else %}
		{% if user['avatar'] %}
			<img src="https://cdn.discordapp.com/avatars/{{ user['id'] }}/{{ user['avatar'] }}" alt="user_icon" style="border-radius: 50%;"> 
		{% endif %}
		<p>  Welcome, {{ user['username'] }}! </p>
		{% for bot in bots %}
		<h1>
			{{ bot.name }}
			<form action="/reset?{{ user.id }}&{{ bot.bot_id }}" method="post">
				<input type="submit" value="RESET">
			</form>
		</h1>
		{% endfor %}
	{% endif %}
</h1>
{% endblock %}