{% extends "dashboard.html" %}
{% block dashboard %}
<img src="/static/images/Member.png" alt="" style="height: 200px;">
<div class="table-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <article class="message" id="server-message">
            <div class="message-header">
              <p>Message from server: </p>
              <button class="delete" aria-label="delete" onclick="delete_msg()"></button>
            </div>
            <div class="message-body">
                {{ message }}
            </div>
          </article>
          {% endfor %}
          {% endif %}
        {% endwith %}
    {% if notInDiscord %}
    {{ notInDiscord }}
    <br>
    {% endif %}
    {% if bots %}
    <img src="/static/images/bots.png" alt="" style="height: 100px;">
    <table class="table is-fullwidth is-bordered is-hoverable" align="left">
        <tr>
            <th>Bot Name</th>
            <th>Bot Key</th>
            <th>Reset Bot</th>
        </tr>
        {% for bot in bots %}
        <tr>
            <td>{{ bot.name }}</td>
            <td>{{ bot.bot_key }}</td>
            {% if bot.bot_cookie %}
            <td>
                <form action="/reset?key={{ bot.api_key.key }}" method="post">
                    <button type="submit " class="button is-danger is-small" onclick="addSpin(this)">
                        Reset {{ bot.name }}
                    </button>
                </form>
            </td>
            {% else %}
            <td>
                <form action="/reset?key={{ bot.api_key.key }}" method="post">
                    <button disabled type="submit " class="button is-danger is-small" onclick="addSpin(this)">
                        Reset Unavailable
                    </button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>You haven't rented any bots. Open a ticket in our discord!</h1>
    <a class= "button is-success" href="https://discord.gg/RpqWAbH">Discord</a>
    {% endif %}
</div>


{% endblock %}